/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */

a,
.brand {
	font-weight: 600;
	color: #f35a00;
	text-decoration: inherit;
}
a:hover {
	/* color: #f35a00; */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.form-head {
	h2 {
		font-size: 1.5rem;
	}
	p {
		font-size: 0.8rem;
		color: #6b7280;
		margin: 0;
		font-family: sans-serif;
	}
}
h1,
h2,
h3 {
	font-family: sans-serif !important;
}

button:hover {
	border-color: #f35a00;
}
button:focus,
button:focus-visible {
	outline: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		/* color: #f35a00; */
	}
}
input {
	border-color: #d1d5db;
}

.user-profile-button {
	border-radius: 5px;
	/* color: #f35a00; */
}
.logo-font {
	font-family: "Nunito Sans";
}

.sidebar-icons {
	color: #f35a00;
}
.header {
	border-bottom: 2px solid #f35a00;
}
