@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@import "./styles/theme.css";
@import "./styles/typography.css";
@import "./styles/globals.css";
@import "./styles/color.css";
@import "./styles/token.css";
@import "./styles/form.css";
@import "./styles/layout.css";
@import "./styles/components.css";
@import "./components/FormElements/input.css";

body {
	background-color: #f3f4f6;
	font-family: var(--font-sans);
	margin: 0;
	padding: 0;
}
.container {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
}

/* Mobile (default styles apply here) */
@media (max-width: 480px) {
	/* styles for small mobile devices */
	.authStyles {
		background-color: #ffffff;
		transition: 1s;
	}
	.authformStyles {
		border: none;
		box-shadow: none;
	}
	form {
		font-size: 0.8rem;
	}
}
.header {
	background-color: rgb(var(--color-surface));
	color: rgb(var(--color-text));
	border-bottom: 2px solid rgb(var(--color-primary));
}

aside {
	border-right: 2px solid rgb(var(--color-primary));
}
